* {
  box-sizing: border-box;
}
.mapcomp {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}
#map {
  background-color: brown;
  width: 100%;
  height: 100%;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
}
.drawbutton {
  width: 8rem;
  height: 3rem;
  border: 1px soild black;
}
